.section-gallery {
    max-width: $max-width;
    display: grid;
    width: 90%;
    background-color: $white;
}

.gallery{
    &__container{  
        width: 100%;
        padding: 10rem 0;
        display: grid;
        justify-content: center;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-auto-rows: 24rem;


        @media only screen and (max-width: 1100px){
            grid-template-columns: repeat(auto-fit, minmax(calc(24 * 9px), 1fr));
            grid-auto-rows: calc(24 * 9px);
        }
    
        @media only screen and (max-width: 900px){
            grid-template-columns: repeat(auto-fit, minmax(calc(24 * 8px), 1fr));
            grid-auto-rows: calc(24 * 8px);
        }
    
        @media only screen and (max-width: 600px){
            grid-template-columns: repeat(auto-fit, minmax(calc(24 * 5.5px), 1fr));
            grid-auto-rows: calc(24 * 5.5px);
        }

        @media only screen and (max-width: 315px){
            grid-template-columns: repeat(auto-fit, minmax(calc(24 * 4.5px), 1fr));
            grid-auto-rows: calc(24 * 4.5px);
        }
        
    }

    &__image{
        background-size: cover;
        background-position: center center;
        border-radius: 1rem;
        transition: all .4s;
        cursor: pointer;
        background-color: $grey;

            &:hover{
                transform: scale(1.05) rotate(-1deg);
                box-shadow: 0 0 1rem rgba(0,0,0,0.5);
                z-index: 1;
            }
    }

}

.image{
    &--tall{
        grid-row: span 2/auto;
    }

    &--wide{
        grid-column: span 2/auto;
    }
}

.slider{
    position: fixed;
    height: 90%;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 30;
    animation: image-slider-scale-up .4s linear forwards;

        &__box {
            width: 100%;
            height: 100%;
            display: grid;
            overflow-x: scroll;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;
            overflow-y: hidden;
            overflow: -moz-scrollbars-none;
            -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    width: 0 !important;
                }

        }

        &__svg{
            position: fixed;
            padding: 1rem;
            fill: $grey;
            height: 5rem;
            width: 5rem;
            transform: translate(0%, -50%);
            z-index: 6;
            transition: all .3s;

                @media only screen and (max-width: 1100px){
                    background-color: $white;
                    fill: $black;
                }

                @media only screen and (max-width: 500px){
                    height: 4rem;
                    width: 4rem;
                }

                &--left{
                    top: 50%;
                    left: 0;
                }

                &--right{
                    top: 50%;
                    right: 0;
                }
        }

        &__img{
            position: absolute;
            display: block;
            max-width: 100%;
            max-height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;

                &-container{
                    height: 100%;
                    // width: 100%;
                    overflow: hidden;
                    scroll-snap-align: start;

                    display: grid;
                    justify-items: center;
                    align-content: center;

                    position: relative;
                    padding: 56.25% 0 0 0;
                    user-select: none;
                }
        }

        &__close{
            position: absolute;
            height: 4rem;
            width: 4rem;
            top: 0;
            right: 5rem;
            fill: $grey;
            transition: all .4s;
            font-size: 6rem;
            z-index: 31;
            cursor: pointer;
            user-select: none;

                &:hover{
                    fill: red;
                }

                @media only screen and (max-width: 1100px){
                    right: 2rem;
                    top: -2rem
                }
        }

        & ~ main {
            height: 100vh;
            overflow: hidden;
        }
}