.btn {
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-decoration: none;
    font-family: inherit !important;
    font-weight: normal !important;
    z-index: 5 !important;
    // transition: all $transition;
        
        &:focus {
            outline: dashed .1rem $grey;    
        }

        &--transparent {
            color: $color-secondary;
            border: solid .2rem $color-secondary !important;

                &:hover {
                    color: $white !important;
                    border: solid .2rem transparent !important;
                    background: linear-gradient(to top, $color-primary, $color-secondary) !important;

                        & .addeventatc_icon {
                            color: $white;
                        }
                }
        }

        &--colored {
            background: linear-gradient(to top, $color-primary, $color-secondary);
            color: $white;

                &:hover {
                    background: linear-gradient(to top, $color-secondary, $color-primary);
                }
        }
}

#addeventatc1 {
    color: $color-secondary !important;
    box-shadow: 0 0 0 rgba($black, $alpha: 0) !important;
    border-radius: 0 !important;
    background-color: transparent;

        &:hover {
            color: $white !important;
            background: linear-gradient(to top, $color-primary, $color-secondary) !important;
        }
}

.addeventatc_icon {
    color: $color-primary;
}